@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: hsl(257, 40%, 49%);
    background-image: url("/assets/images/bg-desktop.svg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.logo {
    height: 30px;
    margin: 30px;

  }
 header {
    display: flex;
    justify-content: flex-start;
 } 

  